.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
  
.form-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    width: 100%;
    max-width: 350px; 
    box-sizing: border-box;
}


.form-header header {
    text-align: center;
    margin-bottom: 15px;
}

.form-header h2 {
    font-size: 24px; 
    font-weight: 600;
    color: #333;
}

.form-header p {
    font-size: 14px; 
    color: #777;
}

.form-fields label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #444;
    font-size: 16px; 
}

.input-container {
    position: relative;
    margin-bottom: 18px;
}

.input-field {
    width: 100%;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px; 
    outline: none;
    transition: border 0.2s ease;
}

.input-field:focus {
    border-color: #007bff;
}


.input-field:not(:placeholder-shown) ~ .visibility-icon {
    display: none; 
}

.visibility-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.visibility-icon:hover {
    color: #007bff;
}


.submit-btn,
.cancel-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: #6c757d;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #5a6268;
}


.error-message {
    margin-bottom: 15px;
    color: red;
    text-align: center;
    font-weight: bold;
}

.error-container .error-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
}


.spinner-container {
    display: flex;
    justify-contnt: center;
    align-items: center;
    min-height: 100vh;
}

.spinner-row {
    display: flex;
    justify-content: center;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 35px; 
    height: 35px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



