.cp-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background-color: #f9f9ff;
  min-height: 100vh;
 font-family: "Segoe UI", sans-serif;

}

.cp-form-content {
  background: white;
  padding: 2.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.cp-form-header h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #333;
}

.cp-form-header p {
  margin-bottom: 2rem;
  font-size: 1rem;
  color: #666;
}

.cp-form-fields label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #134b4d;
}

.cp-input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.cp-input-field {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border: 1px solid #d52477;
  border-radius: 8px;
  font-size: 1rem;
}

.cp-visibility-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

.cp-submit-btn,
.cp-cancel-btn {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cp-submit-btn {
  background: linear-gradient(to right, #5BC7C9, #33c0c2);
  color: white;
  margin-bottom: 0.75rem;
}

.cp-submit-btn:hover {
  background: linear-gradient(to right, #48b2b4, #2a9ea0);
}

.cp-cancel-btn {
  background: #df4848;
  color: #b30000;
}

.cp-cancel-btn:hover {
  background: #b30000;
}

.cp-error-container,
.cp-error-message {
  margin: 1rem auto;
  max-width: 500px;
}

.cp-error-alert {
  background-color: #ffe5e5;
  color: #b30000;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.cp-spinner-container {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.cp-spinner {
  width: 3rem;
  height: 3rem;
  border: 5px solid #ccc;
  border-top: 5px solid #33c0c2;
  border-radius: 50%;
  animation: cp-spin 1s linear infinite;
}

@keyframes cp-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
