.sidebar {
  background-color: var(--primary-background-color); 
  color: #e0e0e0;
  width: 19%;
  height: 100vh;
  position: fixed;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 1px 0 4px rgba(81, 81, 81, 0.22);
  z-index: 3;
}

.sidebar .logo {
  margin: 3% 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 6% 7%;
  margin-bottom: 10px;

  text-decoration: none;

  border-radius: 8px;
  transition: all 0.3s ease;
  gap: clamp(3px, 1vw, 12px);
  font-family: 'ADLaM Display', sans-serif;
}

.sidebar-icon {
  font-size: clamp(8px, 1.7vw, 1.5rem);
}

.sidebar-text{
    font-size: clamp(8px, 1.7vw, 1.5rem);
    color: var(--text-dark-color);
}

.active-sidebar {
  background-color: rgba(206, 243, 246, 0.57);
  border: dashed rgb(198, 228, 255);
  border-radius: 7%;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  background-color: #121212; 
  color: #ffffff;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 5%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.user-info .icon {
  color: var(--primary-blue);
  font-size: 1.2rem;
}

.profile-link {
  color: #535353;
  text-decoration: none;
  margin-left: 1rem;
  font-size: clamp(8px, 1.7vw, 1.5rem);
  font-family: 'ADLaM Display', sans-serif;
}

/* .profile-link:hover {
  color: #ffcc00;
  transform: scale(1.1);
} */

@media (max-width: 1000px) {
  /* .sidebar{
    width: 8%;
  }
  .sidebar .logo {
  display: none;
  }

  .sidebar-text{
    display: none;
  } */
}

@media (max-width: 900px) {
  .sidebar{
    bottom: 0;
    height: max(11vw, 8%);
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 2% 0;
    margin-bottom: 0;
  }
  .sidebar .logo, .profile-link, .sidebar-text{
  display: none;
  }

  .sidebar-icon {
    font-size: 1.3rem;
  }

  .sidebar-item, .user-info{
    padding: 3%;
    margin: 0;
  }
}
.sidebar-avatar-container {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.sidebar-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

