.sidebar {
  background-color: #e2d4ba; 
  color: #e0e0e0;
  width: 19%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2a2a3c; /* Gold */
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #2a2a3c;
  border-radius: 8px;
  transition: all 0.3s ease;
  gap: 0.5rem;
}

.sidebar-item:hover {
  background-color: #2a2a3c; /* Slightly lighter dark */
  color: #ffcc00; /* Gold */
  transform: translateX(5px);
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  background-color: #121212; /* Deep Black */
  color: #ffffff;
}

.mr-2 {
  /* margin-right: 10px; */
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: 15px;
  border-top: 1px solid #333;
}

.user-info .icon {
  color: #facc15; /* Gold */
  font-size: 1.2rem;
}

.profile-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s;
}

.profile-link:hover {
  color: #ffcc00; /* Bright Gold */
  transform: scale(1.1);
}

@media (max-width: 860px) {
  .sidebar{
    display: none;
  }
}