.sidebar {
  background-color: var(--primary-background-color); 
  color: #e0e0e0;
  width: 19%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 1px 0 4px rgba(81, 81, 81, 0.22);
  z-index: 3;
}

.sidebar .logo {
  margin: 5% 0;
}

.sidebar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2a2a3c; /* Gold */
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #535353;
  border-radius: 8px;
  transition: all 0.3s ease;
  gap: 1rem;
  font-family: 'ADLaM Display', sans-serif;
}

.active-sidebar {
  background-color: rgba(206, 243, 246, 0.57);
  transform: translateX(5px);
  border: dashed rgb(198, 228, 255);
  border-radius: 7%;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  background-color: #121212; /* Deep Black */
  color: #ffffff;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: 6%;
  /* border-top: 1px solid #333; */
  padding: 5%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.user-info .icon {
  color: var(--primary-blue);
  font-size: 1.2rem;
}

.profile-link {
  color: #535353;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: 'ADLaM Display', sans-serif;
}

/* .profile-link:hover {
  color: #ffcc00;
  transform: scale(1.1);
} */

@media (max-width: 860px) {
  .sidebar{
    display: none;
  }
}