main {
    min-height: fit-content;
    padding: 24px;
    width: 81%;
    float: right;
    margin-top: 4%;
  }

.main-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

  @media (max-width: 860px) {
    main{
      width: 100%;
    }
  }