/* Home.css */

/* Full Page Layout */
.home-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  
/* Main Content Styling */
.home-main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.home-auth-buttons-container {
  float:right;
  margin: 1% 
}

/* Centered Text */
.home-text {
  text-align: center;
}

.home-svg {
  scale: 1.5;
  position: relative;
  top: 9%;
  left: 53%;
}

/* Title */
.home-logo {
  scale: 2.5;
  margin-top: 5%;
  margin-left: 2%;
}

.home-video-section {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  background: #21d7da82;
  margin-top: 8.9%;
  border-radius: 4%;
}
.home-video {
  margin-left: 8%;
  width: 50%;
  height: auto;
}

/* Login Button */
.home-auth-button {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
  margin-left: 1rem;
}

.home-login-button {
  background-color: #f8f7f6;
  color: #FF68AC;
  border: solid;
}

.home-signup-button {
  background-color: #FF68AC;
  color: #fff;
}

.home-auth-button:hover {
  scale: 1.1;
  filter: brightness(1.1);
}
.features-container {
  display: flex;
  flex-wrap: wrap;
}
  
.feature-card {
  width: 20%;
  border: 1px solid;
  padding: 1%;
}