
  
  .quiz-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 6px #bbc0f1;
    height: 100dvh;
  }
  
  .question {
    font-size: clamp(1.1rem, 5vw, 1.7rem);
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    margin-top: 7%;
  }
  .answers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 5% 7%;
  }

  .answer-btn {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 18px;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0px 2px 2px #6a6a6a66;
    width: 49%;
  }
  
  .answer-btn:hover {
    background: #f8f8f8;
    transform: scale(1.01);
  }
  
  .answer-btn.selected {
    border: 1px solid #6aade8;
    color: black;
    background-color: #e5f6ff;
  }
  
  .answer-letter {
    font-weight: bold;
    margin-left: 10px; 
  }
  
  
  .answer-btn span:last-child {
    order: 2; 
  }
  
  .check-btn,
  .continue-btn {
    margin-top: 15px;
    padding: 14px 15px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 1.4rem;
    width: 20%;
    font-weight: bold;
    box-shadow: 0 3px 3px #00000085;
    /* transition: background 0.3s ease-in-out; */
  }
  
  .check-btn {
    background: #00c3ef;
    color: white;
    position: fixed;
    bottom: 8%;
    left: 40%;
  }
  
  .check-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .continue-btn {
    background: #28a745;
    color: white;
    float: right;
  }
  
  .feedback {
    margin-top: 15px;
    padding: 2%;
    border-radius: 5px;
    font-size: 1.1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    animation: slideUpFadeIn 0.3s ease-in-out forwards;
  }
  
  .feedback-text {
    float: left;
    text-align: left;
  }

  .feedback-title {
    font-size: 1.7rem;
    margin-bottom: 1%;
  }
  .correct-feedback {
    background: #d4edda;
    color: #155724;
  }
  
  .incorrect-feedback {
    background: #f8d7da;
    color: #721c24;
  }
  
  .explanation {
    font-style: italic;
    margin-top: 5px;
  }

  
  .correct {
    background-color: #4caf50 !important;
    color: white !important
  }
  
  .incorrect {
    background-color: #e74c3c !important;
    color: white !important
  }
  

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
    position: relative;
    width: 90%;
    left: 5%;
  }
  
  .quiz-icon {
    width: 50px;
    height: 50px;
  }
  
  .progress-bar {
    flex: 1;
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 13px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.4s ease-in-out;
    border-radius: 13px;
  }
  
  .progress-text {
    font-size: 100%;
    font-weight: bold;
    color: #1b7b00;
    white-space: nowrap;
    border: 0.5px solid;
    /* box-shadow: 0 0 8px #c7ebcf, 0 0 8px #ebffde inset; */
    border-radius: 20px;
    padding: 0.3% 0.5%;
  }

@keyframes slideUpFadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .answers {
    margin: 25px 0;
  }
  .answer-btn {
    width: 100%;
  }
  .continue-btn {
    width: 100%;
  }
  .check-btn{
    width: 95%;
    left: 3%;
    bottom: 3%;
  }
  
}
  