/* NavBar Styles */
nav {
  color: rgb(68, 64, 64);
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  float: right;
  width: 100%;
  border-width: 1px;
  border-bottom-style: solid;
  /* background-color: #f8f9fa; */
}
  
.nav-items{
  display: flex;
  justify-content: center;
}
/* Streak, Coins, User Section */
.navbar .stat-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 2rem;
}

/* Icons Styling */
.navbar .stat-item svg {
  width: 20px;
  height: 20px;
}

/* Streak Icon */
.navbar .streak {
  color: #fa4015;
}

/* Coins Icon */
.navbar .coins {
  color: #fbbf24;
}

/* GenerationPower Icon */
.navbar .power {
  color: #e68835;;
}
  
  