/* NavBar Styles */
nav {
  color: var(--text-darker-color);
  padding: 16px;
  box-shadow: 0px 1px 6px rgba(81, 81, 81, 0.22);
  width: 81%;
  background-color: var(--primary-background-color);
  position: fixed;
  z-index: 2;
  right: 0;
}
  
.nav-items{
  display: flex;
  justify-content: center;
  gap: 5%;
}
/* Streak, Coins, User Section */
.navbar .stat-item {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  font-size: 1.2rem;
  /* margin-left: 2rem; */
}

/* Icons Styling */
.navbar .stat-item svg {
  width: 20px;
  height: 20px;
}

/* Streak Icon */
.streak-active {
  color: #fa4015;
  stroke-width: 3px;
}

.streak-not-active {
  color: var(--text-dark-color);
}

/* Coins Icon */
.coin {
  color: #fbbf24;
}

/* GenerationPower Icon */
.power {
  color: #e68835;;
}

@media (max-width :900px) {
  .nav-items{
    justify-content: space-evenly;
  }
  .navbar{
    width: 100%;
  }
}
  
  