@import url('https://fonts.googleapis.com/css?family=Abel|Playfair+Display');

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.f6 {
  width: 450px;
  min-height: 550px;
  border-radius: 5px;
  box-shadow: 0 9px 50px hsla(0, 3%, 6%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #2f4a3f 50%, #fac55c 50%);
}

header h2 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  color: #0a0a0a;
  text-align: center;
}

.form-input {
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  color: #0d0d0d;
  outline: none;
  border-radius: 12px;
  transition: 0.2s linear;
  padding-right: 35px; /* Added space for the eye icon */
}

.input-item {
  display: flex;
  /* align-items: center; */
  /* margin-right: 10px; */
}

button {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  background: #ff9900;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
}

button:hover {
  transform: translateY(3px);
}

button:focus {
  outline: none;
}

.sign-up-btn {
  display: block;
  width: 100%;
  background: #fff;
  color: #121111;
  padding: 15px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  transition: background-color 0.2s ease;
}

.sign-up-btn:hover {
  background: #ebcb89;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container .form-input {
  padding-right: 35px; /* Make room for the eye icon */
}

.password-container .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
