.view-window-frame {
    height: 100dvh;
    background-color: #210a2a82;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  
  .view-window-container {
      max-width: 400px;
      margin: auto;
      padding: 20px;
      background: #96b6f3;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      justify-content: center;
      align-items: center;
    }