
.library-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.library-exam-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
  color: white;
}

.library-exam {
  /* position: relative; */
  padding: 15px;  
  transition: transform 0.2s, box-shadow 0.2s; /* Delays z-index change */
  box-shadow: 0px 4px 8px rgba(0, 243, 255, 0.2), 0px 4px 8px rgba(0, 243, 255, 0.14) inset;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  border-left: 4px solid #0AB2D0;
  border-top: 1px solid #0AB2D0;
  border-bottom: 1px solid #0AB2D0;
  border-right: 4px solid #0AB2D0
}

.library-exam:hover {
  background: #ededed;
  box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.15);
  /* z-index: 10; */
}

.exam-info {
  width: 60%;
}

.exam-time {
  font-size: 14px;
  color: #0ab2d0;
  margin-bottom: 5px;
}

.exam-folder {
  font-size: 11px;
  color: #6d87ff;
}

.exam-title {
  font-size: clamp(23px, 2vw, 28px);
  font-weight: bold;
  color: #444;
  margin: 0;
  flex-grow: 1;
  margin-bottom: 10px;
}

.exam-details-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.exam-type, .exam-difficulty-level, .exam-score {
  font-size: clamp(12px, 2vw, 17px);
  background-color: #0AB2D0;
  padding: 5px 13px;
  border-radius: 11px;
}

.easy {
  background-color: #31b801;
}
.medium {
  background-color: #f0ad4e;
}
.hard {
  background-color: #d9534f;
}

.score-100 { /* Perfect score */
  background-color: #5ba600;
}

.score-above-90 { /* Excellent score */
  background-color: #31b801;
}

.score-above-80 { /* Good score */
  background-color: #f0ad4e;
}

.score-above-50 { /* Average score */
  background-color: #d9534f;
}

.score-below-50 { /* Poor score */
  background-color: #d9534f;
}


.exam-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exam-actions {
  display: flex;
  /* gap: 10px; */
}

.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.retry-button {
  color: white;
  border: none;
  background-color: #0AB2D0;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: clamp(12px,1.2vw, 21px);
  font-weight: bold;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c9302c;
}


.exam-menu-icon {
  cursor: pointer;
  color: black;
  width: 39px;
  height: 40px;
}

.exam-dropdown {
  position: relative;
  /* display: inline-block; */
  z-index: 2;
}

.exam-dropdown-menu {
  position: absolute;
  right: 10px;
  top: 100%;
  background: #363030;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none; /* Prevent clicks when hidden */
  z-index: 100;
  width: 175px;
  overflow: auto;
}

.exam-dropdown-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.exam-dropdown-menu.closed {
  opacity: 0;
  transform: translateY(-10px);
}

.move-exam-to-folder-btn, .exam-delete-btn {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  color:#d8dee3;
}

.exam-move-icon{
  width: 48px;
  height: 33px;
  cursor: pointer;
  color: #dfd1d3;
  transition: color 0.2s ease;
}

.exam-delete-icon, .exam-delete-btn{
  color: rgb(207, 88, 88);
}
