
.library-container {
  flex: 1;
}

/* Header Styling */
.library-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 15px;
}

.subject-title {
  font-size: 1.5rem; /* text-3xl */
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
  color: var(--text-darker-color);
}

/* Button Group */
.library-buttons {
  display: flex;
  gap: 16px;
}

/* General Button Styling */
.library-button {
  background-color: var(--primary-blue); /* Blue */
  padding: 7px;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  border: none;
}

.library-button:hover {
  filter: brightness(0.9);
}

.library-button-gray {
  background-color: #4a5568; /* Gray-700 */
}

.library-button-gray:hover {
  background-color: #2d3748; /* Darker Gray */
}

.view-mode {
  display: inline-block;
  margin-right: 1rem;
}

.active {
  border-bottom-style: solid;
}

/* Create Menu */
.library-create-menu {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

/* Folders Section */
.library-folders {
  margin-top: 24px;
}

.library-folders-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.library-folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 29px 11px;
}

.folder-tab {
  width: 73%;
  height: 34%;
  clip-path: path("M64.9568 0C51.5851 5.45365e-07 21.5994 2.62555e-07 7.93824 9.48015e-08C4.05714 4.71432e-08 0.934431 3.15762 0.955865 7.03866L1.02745 20H99.5C76.6858 18.1724 82.5678 -7.18262e-07 64.9568 0Z");
  position: absolute;
  top: -19px;
  left: -1px;
  z-index: -1;
}


/* Folder Item */
.library-folder {
  border-radius: 0 24px 24px 24px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
  color: var(--text-darker-color);
  height: 5.2rem;
  position: relative;
}

.folder-highlight {
  border: 2px dashed #0056b3;
  color: #0056b3;
}

.folder-name {
  position: absolute;
  top: 16%;
  left: 6%;
}

.folder-exams-number {
  position: absolute;
  bottom: 15%;
  right: 5%;
  background: var(--primary-background-color);
  width: 12%;
  border-radius: 100%;
}

.library-folder:hover {
  transform: scale(1.02) translateY(-1px);
}

.bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.cancel-move-to-folder-btn{
  float: right;
  background-color: rgb(72, 72, 216);
  padding: 5px;
  margin: 5px;
  border: none;
  font-size: 19.7px;
  border-radius: 7.3px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .library-folder {
    height: 5rem;
  }
  /* .library-container {
      width: 100%;
      float: none;
  }

  .library-header {
      flex-direction: column;
      align-items: flex-start;
  }

  .library-buttons {
      margin-top: 10px;
  } */

  .library-folder-grid, .library-exam-grid {
      grid-template-columns: repeat(auto-fill, 174px);
  }
}
.view-mode{
  cursor: pointer;
}