.library-container2 {
    padding: 20px;
    color: white;
    background-color: #121826;
  }
  
  .library-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .library-exam-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .library-exam {
    background: #1b2330;
    padding: 15px;
    border-radius: 8px;
  }
  
  .exam-info {
    margin-bottom: 10px;
  }
  
  .exam-time {
    font-size: 11px;
    color: #ccc;
  }
  
  .exam-folder {
    font-size: 11px;
    color: #6d87ff;
  }
  
  .exam-title {
    font-size: 24px;
    font-weight: bold;
    color: #edecec;
    margin: 0;
    flex-grow: 1;
  }

  .exam-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .exam-actions {
    display: flex;
    gap: 10px;
  }
  
  .delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .retry-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c9302c;
  }
  
  .retry-button:hover {
    background-color: #218838;
  }
  