.leaderboard-container {

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  color: #333;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.level-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
  gap: 10px;
}


.level-bar::before {
  content: "";
  position: absolute;
  top: 39px; 
  left: 72px;
  height: 4px;
  width: 65%; 
  background-color: #aaa;
  z-index: 0;
}

.level-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 80px;
  z-index: 1;
}


.level-icon {
  font-size: 50px;
}



.level-name {
  font-size: 21px;
  font-weight: bold;
  font-family: 'ADLaM Display', sans-serif;
  letter-spacing: 1px;
}

.ends-in {
  padding: 8px 16px;
  border: 2px solid #f39c12;
  border-radius: 10px;
  font-size: 16px;
  color: #f39c12;
  font-weight: bold;
  margin-bottom: auto;
}

.leaderboard-card {
  padding: 30px 0; 
  border-radius: 0; 
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  width: 90%;
  font-family: 'ADLaM Display', sans-serif;
  border-radius: 27px;
}

.leaderboard-rank {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}


.medal {
  font-size: 25px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.username {
  font-size: 22px;
  font-weight: normal; 
  color: #333; 

  margin: 0;
  padding: 0;
}

.user-level {
  font-size: 16px;
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.xp {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.rank-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: #555;
}
.avatar {
  width: 40px;   
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}

.current-user-first {
  background-color: #94ff856b;
}

.current-user-last {
  background-color: #ffcccc; /* light red */
}

.current-user-middle {
  background-color: #e2e2e2; /* light gray */
}

.xp-first {
  color: #00a300; /* gold */
}

.xp-last {
  color: #e74c3c; /* red */
}

.xp-middle {
  color: #2c3e50; /* dark blue */
}

