.view-window-frame {
    height: 100dvh;
    background-color: #0b0b0b7d;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  
  .view-window-container {
      max-width: 500px;
      margin: auto;
      padding: 20px;
      background: var(--primary-background-color);
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      justify-content: center;
      align-items: center;
    }

@media (max-width : 900px) {
  .view-window-container{
    padding: 0;
  }
}