.learntendo-chat-container {
  min-width: 90%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 2px solid var(--primary-color, #FF68AC);
  border-radius: 8px;
  background: #fff;
}

.learntendo-chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
  background: #f9f9f9;
}

.learntendo-user-message,
.learntendo-bot-message {
  margin-bottom: 12px;
  max-width: 80%;
  padding: 10px 14px;
  border-radius: 12px;
  line-height: 1.4;
  position: relative;
}

.learntendo-user-message {
  background-color: #ee7eb1;
  align-self: flex-end;
  color: #f8fcfc;
}

.learntendo-bot-message {
  background-color: #5BC7C9;
  align-self: flex-start;
  color: #f6f8fa;
}

.learntendo-loading {
  text-align: center;
  color: #999;
  margin-top: 10px;
  font-style: italic;
}

.learntendo-input-container {
  display: flex;
  padding: 10px 16px;
  border-top: 1px solid #5BC7C9;
  background: #fff;
}

.learntendo-input {
  flex-grow: 1;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
  width: 20%;
}

.learntendo-input:focus {
  border-color: #FF68AC;
}

.learntendo-send-button,
.learntendo-mic-button,
.learntendo-audio-button {
  background-color: #FF68AC;
  border: none;
  color: white;
  margin-left: 8px;
  padding: 0 14px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.learntendo-send-button:hover,
.learntendo-mic-button:hover,
.learntendo-audio-button:hover {
  background-color: #FF68AC;
}

.learntendo-mic-button {
  width: 38px;
  height: 38px;
  padding: 0;
  border-radius: 50%;
  color: #666;
  background-color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
}

.learntendo-mic-button.listening {
  background-color: #5BC7C9;
  color: white;
}

.learntendo-audio-button {
  margin-left: 8px;
  background-color: transparent;
  color: #aee8e9;
  font-size: 18px;
  padding: 2px 6px;
  border-radius: 6px;
}

.learntendo-audio-button:hover {
  background-color: #daf1ff;
}

.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top: 3px solid #10b981;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
